<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SysShopMapper">

	<resultMap id="sysShopMap" type="com.pig4cloud.pig.admin.api.entity.SysShop">
		<id property="id" column="Id"/>
		<result property="shopId" column="shop_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>

	<!--sysShop简单分页查询-->
	<select id="getSysShopPage" resultMap="sysShopMap">
		SELECT
		Id,
		shop_id,
		user_id
		FROM sys_shop
		<where>
			<if test="sysShop.id != null and sysShop.id.trim() != ''">
				AND Id = #{sysShop.id}
			</if>
			<if test="sysShop.shopId != null and sysShop.shopId.trim() != ''">
				AND shop_id = #{sysShop.shopId}
			</if>
			<if test="sysShop.userId != null and sysShop.userId.trim() != ''">
				AND user_id = #{sysShop.userId}
			</if>
		</where>
	</select>

	<!-- 根据用户id获取店铺信息 -->
	<select id="findByUserId" resultType="java.lang.Integer">
		select shop_id from sys_shop WHERE user_id = #{userId}
	</select>


</mapper>
