<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.goods.manage.mapper.GoodsEvaluationMapper">

  <resultMap id="goodsEvaluationMap" type="com.pig4cloud.goods.api.entity.GoodsEvaluation">
                  <id property="id" column="Id"/>
                        <result property="shopId" column="shop_id"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="name" column="name"/>
                        <result property="details" column="details"/>
                        <result property="score" column="score"/>
                        <result property="goodsId" column="goods_id"/>
                        <result property="orderId" column="order_id"/>
            </resultMap>

  <!--goodsEvaluation简单分页查询-->
  <select id="getGoodsEvaluationPage" resultMap="goodsEvaluationMap">
    SELECT
                  Id,
                        shop_id,
                        status,
                        create_time,
                        update_time,
                        del_flag,
                        name,
                        details,
                        score,
                        goods_id,
                        order_id
              FROM goods_evaluation
    <where>
              <if test="goodsEvaluation.id != null and goodsEvaluation.id.trim() != ''">
          AND Id = #{goodsEvaluation.id}
        </if>
              <if test="goodsEvaluation.shopId != null and goodsEvaluation.shopId.trim() != ''">
          AND shop_id = #{goodsEvaluation.shopId}
        </if>
              <if test="goodsEvaluation.status != null and goodsEvaluation.status.trim() != ''">
          AND status = #{goodsEvaluation.status}
        </if>
              <if test="goodsEvaluation.createTime != null and goodsEvaluation.createTime.trim() != ''">
          AND create_time = #{goodsEvaluation.createTime}
        </if>
              <if test="goodsEvaluation.updateTime != null and goodsEvaluation.updateTime.trim() != ''">
          AND update_time = #{goodsEvaluation.updateTime}
        </if>
              <if test="goodsEvaluation.delFlag != null and goodsEvaluation.delFlag.trim() != ''">
          AND del_flag = #{goodsEvaluation.delFlag}
        </if>
              <if test="goodsEvaluation.name != null and goodsEvaluation.name.trim() != ''">
          AND name = #{goodsEvaluation.name}
        </if>
              <if test="goodsEvaluation.details != null and goodsEvaluation.details.trim() != ''">
          AND details = #{goodsEvaluation.details}
        </if>
              <if test="goodsEvaluation.score != null and goodsEvaluation.score.trim() != ''">
          AND score = #{goodsEvaluation.score}
        </if>
              <if test="goodsEvaluation.goodsId != null and goodsEvaluation.goodsId.trim() != ''">
          AND goods_id = #{goodsEvaluation.goodsId}
        </if>
              <if test="goodsEvaluation.orderId != null and goodsEvaluation.orderId.trim() != ''">
          AND order_id = #{goodsEvaluation.orderId}
        </if>
          </where>
  </select>



</mapper>
