<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.goods.manage.mapper.GoodsMapper">

  <resultMap id="goodsMap" type="com.pig4cloud.goods.api.entity.Goods">
                  <id property="id" column="Id"/>
                        <result property="shopId" column="shop_id"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="title" column="title"/>
                        <result property="desc" column="desc"/>
                        <result property="recommend" column="recommend"/>
                        <result property="sale" column="sale"/>
                        <result property="sort" column="sort"/>
                        <result property="type" column="type"/>
                        <result property="inventory" column="inventory"/>
                        <result property="originalPrice" column="original_price"/>
                        <result property="presentPrice" column="present_price"/>
                        <result property="sn" column="sn"/>
                        <result property="memberDiscount" column="member_discount"/>
                        <result property="limitBuy" column="limit_buy"/>
            </resultMap>

  <!--goods简单分页查询-->
  <select id="getGoodsPage" resultMap="goodsMap">
    SELECT
                  Id,
                        shop_id,
                        status,
                        create_time,
                        update_time,
                        del_flag,
                        title,
                        desc,
                        recommend,
                        sale,
                        sort,
                        type,
                        inventory,
                        original_price,
                        present_price,
                        sn,
                        member_discount,
                        limit_buy
              FROM goods
    <where>
              <if test="goods.id != null and goods.id.trim() != ''">
          AND Id = #{goods.id}
        </if>
              <if test="goods.shopId != null and goods.shopId.trim() != ''">
          AND shop_id = #{goods.shopId}
        </if>
              <if test="goods.status != null and goods.status.trim() != ''">
          AND status = #{goods.status}
        </if>
              <if test="goods.createTime != null and goods.createTime.trim() != ''">
          AND create_time = #{goods.createTime}
        </if>
              <if test="goods.updateTime != null and goods.updateTime.trim() != ''">
          AND update_time = #{goods.updateTime}
        </if>
              <if test="goods.delFlag != null and goods.delFlag.trim() != ''">
          AND del_flag = #{goods.delFlag}
        </if>
              <if test="goods.title != null and goods.title.trim() != ''">
          AND title = #{goods.title}
        </if>
              <if test="goods.desc != null and goods.desc.trim() != ''">
          AND desc = #{goods.desc}
        </if>
              <if test="goods.recommend != null and goods.recommend.trim() != ''">
          AND recommend = #{goods.recommend}
        </if>
              <if test="goods.sale != null and goods.sale.trim() != ''">
          AND sale = #{goods.sale}
        </if>
              <if test="goods.sort != null and goods.sort.trim() != ''">
          AND sort = #{goods.sort}
        </if>
              <if test="goods.type != null and goods.type.trim() != ''">
          AND type = #{goods.type}
        </if>
              <if test="goods.inventory != null and goods.inventory.trim() != ''">
          AND inventory = #{goods.inventory}
        </if>
              <if test="goods.originalPrice != null and goods.originalPrice.trim() != ''">
          AND original_price = #{goods.originalPrice}
        </if>
              <if test="goods.presentPrice != null and goods.presentPrice.trim() != ''">
          AND present_price = #{goods.presentPrice}
        </if>
              <if test="goods.sn != null and goods.sn.trim() != ''">
          AND sn = #{goods.sn}
        </if>
              <if test="goods.memberDiscount != null and goods.memberDiscount.trim() != ''">
          AND member_discount = #{goods.memberDiscount}
        </if>
              <if test="goods.limitBuy != null and goods.limitBuy.trim() != ''">
          AND limit_buy = #{goods.limitBuy}
        </if>
          </where>
  </select>



</mapper>
