<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.goods.manage.mapper.GoodsGroupMapper">

  <resultMap id="goodsGroupMap" type="com.pig4cloud.goods.api.entity.GoodsGroup">
                  <id property="id" column="Id"/>
                        <result property="shopId" column="shop_id"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="title" column="title"/>
                        <result property="type" column="type"/>
                        <result property="goodsIds" column="goods_ids"/>
                        <result property="goodsTypes" column="goods_types"/>
            </resultMap>

  <!--goodsGroup简单分页查询-->
  <select id="getGoodsGroupPage" resultMap="goodsGroupMap">
    SELECT
                  Id,
                        shop_id,
                        status,
                        create_time,
                        update_time,
                        del_flag,
                        title,
                        type,
                        goods_ids,
                        goods_types
              FROM goods_group
    <where>
              <if test="goodsGroup.id != null and goodsGroup.id.trim() != ''">
          AND Id = #{goodsGroup.id}
        </if>
              <if test="goodsGroup.shopId != null and goodsGroup.shopId.trim() != ''">
          AND shop_id = #{goodsGroup.shopId}
        </if>
              <if test="goodsGroup.status != null and goodsGroup.status.trim() != ''">
          AND status = #{goodsGroup.status}
        </if>
              <if test="goodsGroup.createTime != null and goodsGroup.createTime.trim() != ''">
          AND create_time = #{goodsGroup.createTime}
        </if>
              <if test="goodsGroup.updateTime != null and goodsGroup.updateTime.trim() != ''">
          AND update_time = #{goodsGroup.updateTime}
        </if>
              <if test="goodsGroup.delFlag != null and goodsGroup.delFlag.trim() != ''">
          AND del_flag = #{goodsGroup.delFlag}
        </if>
              <if test="goodsGroup.title != null and goodsGroup.title.trim() != ''">
          AND title = #{goodsGroup.title}
        </if>
              <if test="goodsGroup.type != null and goodsGroup.type.trim() != ''">
          AND type = #{goodsGroup.type}
        </if>
              <if test="goodsGroup.goodsIds != null and goodsGroup.goodsIds.trim() != ''">
          AND goods_ids = #{goodsGroup.goodsIds}
        </if>
              <if test="goodsGroup.goodsTypes != null and goodsGroup.goodsTypes.trim() != ''">
          AND goods_types = #{goodsGroup.goodsTypes}
        </if>
          </where>
  </select>



</mapper>
