<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!-- mysql-connector-java-5.1.46.jar的绝对路径 -->
    <classPathEntry location="/Users/changhan/Downloads/repository/repository/mysql/mysql-connector-java/8.0.15/mysql-connector-java-8.0.15.jar" />

    <context id="context1">
        <commentGenerator>
            <!-- 去除自动生成的注释 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 配置数据源 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-bp1qbr1a08374nn3bpo.mysql.rds.aliyuncs.com/pig?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"
                        userId="root"
                        password="CHANGhan208">
            <property name="useInformationSchema" value="true"/>
        </jdbcConnection>

        <!-- 配置生成的javabean所存放的路径和包（使用绝对路径） -->
        <javaModelGenerator targetPackage="com.ch.entity" targetProject="/Users/changhan/Documents/batu/pig/src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 配置生成的**Mapper.xml文件所存放的路径和包（使用绝对路径） -->
        <sqlMapGenerator targetPackage="mapper"  targetProject="/Users/changhan/Documents/batu/pig/src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 配置生成的**Mapper.java接口文件所存放的路径和包（使用绝对路径） -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.ch.dao"  targetProject="/Users/changhan/Documents/batu/pig/src/main/java">
        </javaClientGenerator>


<!--        <table tableName="coupon" domainObjectName="Coupon" enableCountByExample="true" enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true"/>-->
<!--        <table tableName="goods" domainObjectName="Goods" enableCountByExample="true" enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true"/>-->
<!--        <table tableName="goods_details" domainObjectName="GoodsDetails" enableCountByExample="true" enableUpdateByExample="true"-->
<!--               enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true"/>-->

        <table tableName="order_red_packet" domainObjectName="OrderRedPacket" enableCountByExample="true" enableUpdateByExample="true"
               enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true"/>
    </context>
</generatorConfiguration>
