<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.shop.manage.mapper.InfoMapper">

  <resultMap id="infoMap" type="com.pig4cloud.shop.api.entity.Info">
                  <id property="id" column="id"/>
                        <result property="shopId" column="shop_id"/>
                        <result property="title" column="title"/>
                        <result property="address" column="address"/>
                        <result property="shareTitle" column="share_title"/>
                        <result property="tel" column="tel"/>
                        <result property="serviceTime" column="service_time"/>
                        <result property="logo" column="logo"/>
                        <result property="shareImage" column="share_image"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>

  <!--info简单分页查询-->
  <select id="getInfoPage" resultMap="infoMap">
    SELECT
                  id,
                        shop_id,
                        title,
                        address,
                        share_title,
                        tel,
                        service_time,
                        logo,
                        share_image,
                        status,
                        create_time,
                        update_time
              FROM shop_info
    <where>
              <if test="info.id != null and info.id.trim() != ''">
          AND id = #{info.id}
        </if>
              <if test="info.shopId != null and info.shopId.trim() != ''">
          AND shop_id = #{info.shopId}
        </if>
              <if test="info.title != null and info.title.trim() != ''">
          AND title = #{info.title}
        </if>
              <if test="info.address != null and info.address.trim() != ''">
          AND address = #{info.address}
        </if>
              <if test="info.shareTitle != null and info.shareTitle.trim() != ''">
          AND share_title = #{info.shareTitle}
        </if>
              <if test="info.tel != null and info.tel.trim() != ''">
          AND tel = #{info.tel}
        </if>
              <if test="info.serviceTime != null and info.serviceTime.trim() != ''">
          AND service_time = #{info.serviceTime}
        </if>
              <if test="info.logo != null and info.logo.trim() != ''">
          AND logo = #{info.logo}
        </if>
              <if test="info.shareImage != null and info.shareImage.trim() != ''">
          AND share_image = #{info.shareImage}
        </if>
              <if test="info.status != null and info.status.trim() != ''">
          AND status = #{info.status}
        </if>
              <if test="info.createTime != null and info.createTime.trim() != ''">
          AND create_time = #{info.createTime}
        </if>
              <if test="info.updateTime != null and info.updateTime.trim() != ''">
          AND update_time = #{info.updateTime}
        </if>
          </where>
  </select>



</mapper>
