<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.shop.manage.mapper.SettingMapper">

  <resultMap id="settingMap" type="com.pig4cloud.shop.api.entity.Setting">
                  <id property="id" column="Id"/>
                        <result property="shopId" column="shop_id"/>
                        <result property="status" column="status"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
                        <result property="shopIndex" column="shop_index"/>
                        <result property="shopName" column="shop_name"/>
                        <result property="shopAddress" column="shop_address"/>
                        <result property="shopTel" column="shop_tel"/>
                        <result property="longitude" column="longitude"/>
                        <result property="latitude" column="latitude"/>
                        <result property="delFlag" column="del_flag"/>
            </resultMap>

  <!--setting简单分页查询-->
  <select id="getSettingPage" resultMap="settingMap">
    SELECT
                  Id,
                        shop_id,
                        status,
                        create_time,
                        update_time,
                        shop_index,
                        shop_name,
                        shop_address,
                        shop_tel,
                        longitude,
                        latitude,
                        del_flag
              FROM shop_setting
    <where>
              <if test="setting.id != null and setting.id.trim() != ''">
          AND Id = #{setting.id}
        </if>
              <if test="setting.shopId != null and setting.shopId.trim() != ''">
          AND shop_id = #{setting.shopId}
        </if>
              <if test="setting.status != null and setting.status.trim() != ''">
          AND status = #{setting.status}
        </if>
              <if test="setting.createTime != null and setting.createTime.trim() != ''">
          AND create_time = #{setting.createTime}
        </if>
              <if test="setting.updateTime != null and setting.updateTime.trim() != ''">
          AND update_time = #{setting.updateTime}
        </if>
              <if test="setting.shopIndex != null and setting.shopIndex.trim() != ''">
          AND shop_index = #{setting.shopIndex}
        </if>
              <if test="setting.shopName != null and setting.shopName.trim() != ''">
          AND shop_name = #{setting.shopName}
        </if>
              <if test="setting.shopAddress != null and setting.shopAddress.trim() != ''">
          AND shop_address = #{setting.shopAddress}
        </if>
              <if test="setting.shopTel != null and setting.shopTel.trim() != ''">
          AND shop_tel = #{setting.shopTel}
        </if>
              <if test="setting.longitude != null and setting.longitude.trim() != ''">
          AND longitude = #{setting.longitude}
        </if>
              <if test="setting.latitude != null and setting.latitude.trim() != ''">
          AND latitude = #{setting.latitude}
        </if>
              <if test="setting.delFlag != null and setting.delFlag.trim() != ''">
          AND del_flag = #{setting.delFlag}
        </if>
          </where>
  </select>



</mapper>
