<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ch.dao.MemberRankMapper" >
  <resultMap id="BaseResultMap" type="com.ch.entity.MemberRank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bronze" property="bronze" jdbcType="INTEGER" />
    <result column="silver" property="silver" jdbcType="INTEGER" />
    <result column="gold" property="gold" jdbcType="INTEGER" />
    <result column="platinum" property="platinum" jdbcType="INTEGER" />
    <result column="diamonds" property="diamonds" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bronze, silver, gold, platinum, diamonds
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ch.entity.MemberRankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from member_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_rank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_rank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ch.entity.MemberRankExample" >
    delete from member_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ch.entity.MemberRank" >
    insert into member_rank (id, bronze, silver, 
      gold, platinum, diamonds
      )
    values (#{id,jdbcType=INTEGER}, #{bronze,jdbcType=INTEGER}, #{silver,jdbcType=INTEGER}, 
      #{gold,jdbcType=INTEGER}, #{platinum,jdbcType=INTEGER}, #{diamonds,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ch.entity.MemberRank" >
    insert into member_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bronze != null" >
        bronze,
      </if>
      <if test="silver != null" >
        silver,
      </if>
      <if test="gold != null" >
        gold,
      </if>
      <if test="platinum != null" >
        platinum,
      </if>
      <if test="diamonds != null" >
        diamonds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bronze != null" >
        #{bronze,jdbcType=INTEGER},
      </if>
      <if test="silver != null" >
        #{silver,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        #{gold,jdbcType=INTEGER},
      </if>
      <if test="platinum != null" >
        #{platinum,jdbcType=INTEGER},
      </if>
      <if test="diamonds != null" >
        #{diamonds,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ch.entity.MemberRankExample" resultType="java.lang.Integer" >
    select count(*) from member_rank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member_rank
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bronze != null" >
        bronze = #{record.bronze,jdbcType=INTEGER},
      </if>
      <if test="record.silver != null" >
        silver = #{record.silver,jdbcType=INTEGER},
      </if>
      <if test="record.gold != null" >
        gold = #{record.gold,jdbcType=INTEGER},
      </if>
      <if test="record.platinum != null" >
        platinum = #{record.platinum,jdbcType=INTEGER},
      </if>
      <if test="record.diamonds != null" >
        diamonds = #{record.diamonds,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member_rank
    set id = #{record.id,jdbcType=INTEGER},
      bronze = #{record.bronze,jdbcType=INTEGER},
      silver = #{record.silver,jdbcType=INTEGER},
      gold = #{record.gold,jdbcType=INTEGER},
      platinum = #{record.platinum,jdbcType=INTEGER},
      diamonds = #{record.diamonds,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ch.entity.MemberRank" >
    update member_rank
    <set >
      <if test="bronze != null" >
        bronze = #{bronze,jdbcType=INTEGER},
      </if>
      <if test="silver != null" >
        silver = #{silver,jdbcType=INTEGER},
      </if>
      <if test="gold != null" >
        gold = #{gold,jdbcType=INTEGER},
      </if>
      <if test="platinum != null" >
        platinum = #{platinum,jdbcType=INTEGER},
      </if>
      <if test="diamonds != null" >
        diamonds = #{diamonds,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ch.entity.MemberRank" >
    update member_rank
    set bronze = #{bronze,jdbcType=INTEGER},
      silver = #{silver,jdbcType=INTEGER},
      gold = #{gold,jdbcType=INTEGER},
      platinum = #{platinum,jdbcType=INTEGER},
      diamonds = #{diamonds,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>